* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 15px;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem 0;
}

#app h1 {
  font-size: 500%;
  letter-spacing: 0.5rem;
  margin-bottom: 8px;
  color:green;
}
body{
  background-color: black;

}
.calculator {
  display: grid;
  padding: 20px 20px 10px;
  background: blue;
  width: 700px;
  height: 600px;
  grid-template-rows: 200px 1fr;
}

.calculator button {
  font-family: "'Sans-serif'";
  font-size: 100%;
  cursor: grab;
}

.memory button {
  background: green;
  font-size: 350%;
}
button.add {
  background: lightblue;
  font-size: 400%;
  height: 70%;
}
button.subtract {
  background: lightblue;
  font-size: 400%;
  height: 70%;
}
button.multiply {
  background: lightblue;
  font-size: 400%;
  height: 60%;
}
button.divide {
  background: lightblue;
  font-size: 400%;
  height: 80%;
}

button.equals {
  background: lightblue;
font-size: 900%;
height: 80%;
}

.digits button {
  background: orange;
  font-size: 400%;
}

.display {
  display: grid;
  background: rgba(0, 255, 34, 0.534);
  padding: 5px 8px;
  grid-row: 1;
  height: 150px;
  
}

.held-value {
  grid-row: 2;
  grid-column: 1 / 6;
  font-size: 100px;
}
.held-label{
  font-size: 30px;

}
.next-value{
  font-size:40px;
}
.next-operation{
  font-size:40px;
}

.controls {
  display: grid;
  font-size:10px;
  grid-row: 2;
  grid-gap: 30px;
  grid-template-rows:5, 1fr;
  grid-template-columns: 4, 1fr;
}
.memory {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1;
  grid-gap: 15px;
  grid-template-columns: 1fr 4fr;
}

.operations {
  display: grid;
  grid-row: 1 / 6;
  grid-column: 4 / 5;
}

.digits {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 2; 
  grid-gap: 12px;
}

.digits :last-of-type {
  grid-column: 2/ 4;
}